@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}

button {
    font-family: "Poppins";
}

.starBox {
    height: auto;
    /* box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.22); */
    padding: 50px;
}

.mainHeading {
    padding-top: 10px;
    font-size: 30px;
    font-family: "Poppins";
    text-align: center;
}

.starMain {
    padding-top: 10px;
    text-align: center;
}

.fa-star {
    color: #000;
    font-size: 55px;
    padding: 10px;
}

.fa-star:hover {
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    background-color: gold;
    color: #000;
    transition: 0.2s;
}

.textArea {
    margin-top: 20px;
    margin-bottom: 10px;
}

#myButton {
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.btn1 {
    font-family: "Poppins";
    border-radius: 6px;
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000000;
}

.btn1:hover {
    background-color: #000;
    color: #fff;
}

.star_one:hover {
    background-color: #ff3722;
    color: #fff;
}

.star_two:hover {
    background-color: #ff8622;
    color: #fff;
}

.star_three:hover {
    background-color: #ffce00;
    color: #fff;
}

.star_four:hover {
    background-color: #73cf11;
    color: #fff;
}

.star_five:hover {
    background-color: #00b67a;
    color: #fff;
}