@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}

button {
    font-family: "Poppins";
}

.starBox {
    height: auto;
    /* box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.22); */
    padding: 50px;
}

.mainHeading {
    padding-top: 10px;
    font-size: 30px;
    font-family: "Poppins";
    text-align: center;
}

.starMain {
    padding-top: 10px;
    text-align: center;
}

.my-fa-star {
    color: #000;
    font-size: 55px;
    padding: 10px;
}

.my-fa-star:hover {
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    background-color: gold;
    color: #000;
    transition: 0.2s;
}

.textArea {
    margin-top: 20px;
    margin-bottom: 10px;
}

#myButton {
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.btn1 {
    font-family: "Poppins";
    border-radius: 6px;
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000000;
}

.btn1:hover {
    background-color: #000;
    color: #fff;
}

.main_text h2{
    color: #000;
    font-family: "Poppins";
    font-size: 40px;
}

.main_text h1{
    color: #000;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 80px;
}

.main_text h3{
    color: rgb(70, 70, 70);
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.6px;
}


.review__rating__progress {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.review__rating__progress .review__rating__level,
.review__rating__progress {
    /* 10% is the default width for the level and count labels */
    flex: 1 1 10%;
}

.review__rating__progress .review__rating__level {
    text-align: right;
    display: flex;
}

.review__rating__progress .progress {
    margin: 0.25rem 1rem;
    flex-grow: 8;
}