@font-face {
    font-family: "Poppins";
    src: url(Poppins-Regular.ttf);
}

button {
    font-family: "Poppins";
}

.starBox {
    height: auto;
    box-shadow: 0px 0px 24px 8px rgba(0, 0, 0, 0.22);
    padding: 50px;
    margin-top: 4%;
}

.mainHeading {
    padding-top: 10px;
    font-size: 30px;
    font-family: "Poppins";
    text-align: center;
}

.starMain {
    padding-top: 10px;
    text-align: center;
}

.my-fa-star {
    color: #000;
    font-size: 36px;
    padding: 10px;
}

.my-fa-star:hover {
    cursor: pointer;
    border-radius: 8px;
    padding: 10px;
    background-color: gold;
    color: #000;
    transition: 0.2s;
}

.textArea {
    margin-top: 20px;
    margin-bottom: 10px;
}

#myButton {
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.btn1 {
    font-family: "Poppins";
    border-radius: 6px;
    padding: 10px 10px;
    text-decoration: none;
    color: #000;
    border: 1px solid #000000;
}

.btn1:hover {
    background-color: #000;
    color: #fff;
}

.main_text h2 {
    color: #000;
    font-family: "Poppins";
    font-size: 40px;
}

.main_text h1 {
    color: #000;
    font-weight: bold;
    font-family: "Poppins";
    font-size: 80px;
}

.main_text h3 {
    color: rgb(70, 70, 70);
    font-family: "Poppins";
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -0.6px;
}


.review__rating__progress {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.review__rating__progress .review__rating__level,
.review__rating__progress {
    flex: 1 1 10%;
}

.review__rating__progress .review__rating__level {
    text-align: right;
    display: flex;
}

.review__rating__progress .progress {
    margin: 0.25rem 1rem;
    flex-grow: 8;
}

.review__rating__stats {
    padding-top: 30px;
}

.progress-bar1 {
    background-color: #ff3722;
}

.progress-bar2 {
    background-color: rgb(255 134 34);
}

.progress-bar3 {
    background-color: rgb(255 206 0);
}

.progress-bar4 {
    background-color: rgb(115 207 17);
}

.progress-bar5 {
    background-color: rgb(0 182 122);
}

.margin-right {
    margin-right: 15px;
}

.btn_tab {
    text-align: end;
}

.container .raDios input {
    display: none;
}

.raDios label {
    font-size: 36px;
    color: #000;
    padding: 10px;
    float: right;
    margin: 0px 2px;
    transition: all 0.2s ease;
}
.raDios{
    /* display: flex;
    justify-content: center; */
    padding: 10px 126px 70px 70px;
}

input#rate-1:not(:checked)~label:hover,
input#rate-1:not(:checked)~label:hover~label {
    color: #fff;
    background-color: #00B67A;
    border-radius: 8px;
}

input#rate-2:not(:checked)~label:hover,
input#rate-2:not(:checked)~label:hover~label {
    color: #fff;
    background-color: #73CF11;
    border-radius: 8px;
}

input#rate-3:not(:checked)~label:hover,
input#rate-3:not(:checked)~label:hover~label {
    color: #fff;
    background-color: #FFCE00;
    border-radius: 8px;
}

input#rate-4:not(:checked)~label:hover,
input#rate-4:not(:checked)~label:hover~label {
    color: #fff;
    background-color: #FF8622;
    border-radius: 8px;
}

input#rate-5:not(:checked)~label:hover,
input#rate-5:not(:checked)~label:hover~label {
    color: #fff;
    background-color: #FF3722;
    border-radius: 8px;
}

input:checked ~ label{
    color: #fff;
    background-color: #FF3722;
    border-radius: 8px;
}
input#rate-1:checked~label {
    color: #fff;
    background-color: #00B67A;
    border-radius: 8px;
}

input#rate-2:checked~label {
    color: #fff;
    background-color: #73CF11;
    border-radius: 8px;
}

input#rate-3:checked~label {
    color: #fff;
    background-color: #FFCE00;
    border-radius: 8px;
}

input#rate-4:checked~label {
    color: #fff;
    background-color: #FF8622;
    border-radius: 8px;
}

input#rate-5:checked~label {
    color: #fff;
    background-color: #FF3722;
    border-radius: 8px;
}